{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ],
        [
            "@babel/preset-react"
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-react-display-name",
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-async-to-generator",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/preset-react",
                    {
                        "development": true
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-transform-react-jsx-self",
                "@babel/plugin-transform-react-jsx-source"
            ]
        },
        "production": {
            "plugins": [
                "@babel/runtime"
            ]
        }
    }
}